@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
  background-color: var(--cl-light_blue);
  width: 100%;
  height: 3.75rem;
  padding-inline: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  max-width: 125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.75rem;
}
nav ul a {
  color: white;
  font-weight: 700;
}
nav ul button {
  width: 8.75rem;
  font-family: "Poppins", serif;
  height: 2.5rem;
  font-weight: 800;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--cl-prusian-blue);
  color: white;
  cursor: pointer;
}

.logo a {
  font-size: var(--font-logo);
  font-weight: 800;
  color: white;
}

.large_dis i {
  display: none;
}
@media (width <= 44.4375em) {
  .large_dis i {
    display: block;
    font-size: 1.875rem;
    cursor: pointer;
    color: white;
  }
}

@media (width <= 44.4375em) {
  .large_dis ul {
    display: none;
  }
}

.small_dis ul {
  right: -100%;
}

.small_dis.active {
  left: 0;
}

.small_dis {
  position: fixed;
  background-color: rgb(0, 0, 0);
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  left: 100%;
  transition: 0.5s ease-in-out;
}
.small_dis ul {
  background-color: var(--cl-rich_black);
  inset: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  padding-top: 30vh;
}
.small_dis button {
  background-color: var(--cl-brown);
}
.small_dis i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.875rem;
  cursor: pointer;
  color: white;
  font-size: 2.5rem;
}

@media (width < 52.125em) {
  header {
    padding-inline: 3.125rem;
  }
}
.hero {
  padding-top: 6.25rem;
  padding-inline: 6.25rem;
  background-color: var(--cl-light_blue);
  display: flex;
  justify-content: center;
  gap: 6.25rem;
  align-items: center;
}
.hero h1 {
  font-size: var(--font-header1);
  color: white;
  font-weight: 900;
  max-width: 20ch;
}
.hero p {
  font-size: 1rem;
  max-width: 70ch;
  color: white;
  line-height: 200%;
  max-width: 70ch;
}
@media (width <= 52.1875em) {
  .hero {
    flex-direction: column;
    gap: 5rem;
  }
}
@media (width <= 37.5em) {
  .hero {
    padding-inline: 1.25rem;
    padding-top: 4.375rem;
    gap: 2.5rem;
  }
}
@media (width <= 62.5em) {
  .hero {
    gap: 0;
  }
}

.hero_text {
  padding: 30px;
  display: flex;
  gap: 1.125rem;
  flex-direction: column;
}
.hero_text button {
  width: 8.75rem;
  font-family: "Poppins", serif;
  height: 2.5rem;
  font-weight: 800;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--cl-brown);
  color: white;
  cursor: pointer;
  text-align: center;
}

.Testimonials {
  padding-inline: 12.5rem;
  padding-block: 3.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  gap: 4.375rem;
}
@media (width <= 82.125em) {
  .Testimonials {
    padding-inline: 3.125rem;
  }
}
@media (width <= 52.1875em) {
  .Testimonials {
    padding-inline: 3.125rem;
    padding-block: 4px;
    flex-direction: column-reverse;
  }
}
@media (width <= 52.1875em) {
  .Testimonials {
    padding-inline: 1.125rem;
  }
}

.Testimonials_cards {
  display: flex;
  margin: 6.25rem;
  flex-direction: column;
  gap: 3.125rem;
}
@media (width <= 90.25em) {
  .Testimonials_cards {
    margin: 1.875rem;
  }
}
@media (width <= 52.1875em) {
  .Testimonials_cards {
    margin: 0.625rem;
  }
}
@media (width <= 22.3125em) {
  .Testimonials_cards {
    margin: 0rem;
  }
}

#centent_2 {
  background-color: var(--cl-brown);
}

.Testimonials_card {
  width: 27.625rem;
  background-color: white;
  height: 13.875rem;
  box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
}
@media (width <= 52.1875em) {
  .Testimonials_card {
    width: 100%;
  }
}
.Testimonials_card .testimonials_centent {
  align-items: center;
  color: white;
  display: grid;
  background-color: var(--cl-light_blue);
  width: 100%;
  height: 40%;
  border-radius: 20px;
  padding: 1.125rem;
  color: white;
  font-size: 1.125rem;
  font-weight: 800;
}

.testimonials_image {
  display: flex;
  gap: 3.125rem;
  align-items: center;
  align-items: center;
  padding: 1.875rem;
  position: relative;
}
.testimonials_image img {
  position: absolute;
  right: 10%;
}
.testimonials_image h1 {
  color: var(--cl-prusian-blue);
  font-size: var(--font-header4);
  font-weight: 800;
}
.testimonials_image p {
  font-size: var(--font-header5);
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis;
}

.Testimonials_card2 {
  position: relative;
  background-color: white;
  left: 4%;
  width: 27.625rem;
  height: 13.875rem;
  box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
}
@media (width <= 52.1875em) {
  .Testimonials_card2 {
    width: 100%;
    left: 0;
  }
}
.Testimonials_card2 .testimonials_centent {
  align-items: center;
  color: white;
  display: grid;
  background-color: var(--cl-light_blue);
  width: 100%;
  height: 40%;
  border-radius: 20px;
  padding: 1.5625rem;
  color: white;
  font-size: 1.125rem;
  font-weight: 800;
}

.testimonials_image {
  display: flex;
  gap: 3.125rem;
  align-items: center;
  padding: 1.875rem;
}
.testimonials_image img {
  right: 10%;
}
@media (width <= 52.1875em) {
  .testimonials_image img {
    width: 6.875rem;
  }
}
@media (width <= 25em) {
  .testimonials_image img {
    width: 5.625rem;
  }
}
.testimonials_image h1 {
  color: var(--cl-prusian-blue);
  font-size: var(--font-header4);
  font-weight: 800;
}
.testimonials_image p {
  font-size: 1.125rem;
}

.line {
  width: 28px;
  height: 546px;
  background-color: black;
  position: absolute;
  left: 14%;
  border-radius: 24px;
  z-index: -10; /* Keep it behind other elements */
  top: -27px; /* Adjust as necessary to align with the cards */
}

.Testimonials_cards {
  position: relative; /* Ensure .line is positioned relative to this container */
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.Testimonials_text {
  align-items: center;
}
.Testimonials_text h1 {
  font-size: var(--font-header2);
  font-weight: 800;
  color: var(--cl-prusian-blue);
}
.Testimonials_text p {
  font-size: 1rem;
  padding-block: 1.25rem;
  line-height: 200%;
  max-width: 50ch;
}
.Testimonials_text button {
  width: 8.75rem;
  font-family: "Poppins", serif;
  height: 2.5rem;
  font-weight: 800;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--cl-brown);
  color: white;
  cursor: pointer;
  text-align: center;
}
@media (width <= 52.1875em) {
  .Testimonials_text {
    margin-block: 50px;
    padding: 35px;
  }
}

.courses {
  padding-block: 6.25rem;
  margin-block: 1.875rem;
  background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
}
.courses h1 {
  font-size: var(--font-header1);
  font-weight: 800;
  color: white;
  text-align: center;
}

.courses_container {
  padding: 3.125rem;
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
@media (width <= 75em) {
  .courses_container {
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    padding: 5rem;
  }
}
@media (width <= 37.5em) {
  .courses_container {
    padding: 0;
    padding-top: 2.5rem;
  }
}

.course_card {
  width: 32.875rem;
  padding: 1.375rem;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1.5rem;
}
.course_card img {
  bottom: 7.5%;
  position: relative;
  text-align: center;
}
@media (width <= 75em) {
  .course_card {
    width: 100%;
  }
}
.course_card .line_card {
  width: 80%;
  height: 0.625rem;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 10%;
}

.card_title {
  display: flex;
  padding: 0.625rem;
  justify-content: space-between;
}
.card_title span {
  font-size: large;
  font-weight: 800;
  margin-top: 1.875rem;
}
.card_title p {
  font-size: var(--font-header3);
  font-weight: 800;
  min-width: 66%;
  color: var(--cl-prusian-blue);
}

.duration {
  font-size: 16px;
  color: #0a2540;
  display: flex;
  align-items: center;
}

.clock-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url("https://img.icons8.com/ios-filled/50/clock.png") no-repeat center;
  background-size: contain;
}

.courses_container {
  position: relative;
}
.courses_container button {
  position: absolute;
  right: 8%;
  bottom: -9%;
  width: 8.75rem;
  font-family: "Poppins", serif;
  height: 2.5rem;
  font-weight: 800;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--cl-brown);
  color: white;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 1226px) and (min-width: 600px) {
  .courses_container button {
    right: 8%;
    bottom: -4%;
  }
}

.downlaod.app {
  padding-block: 6.25rem;
}

.downalod_frame {
  padding-block: 1.25rem;
  text-align: center;
}
.downalod_frame h1 {
  font-size: var(--font-header1);
  color: var(--cl-prusian-blue);
  font-weight: 900;
}
.downalod_frame p {
  margin-top: 1.25rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 200%;
}

.downlaod_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block: 1.25rem;
}
@media (width <= 46.1875em) {
  .downlaod_cards {
    flex-direction: column;
    align-items: center;
  }
}

.downalod_card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  gap: 1.25rem;
  padding-inline: 1.25rem;
  cursor: pointer;
  margin: 0.625rem;
  width: 19.5625rem;
  height: 6.25rem;
  background-color: black;
}
.downalod_card h1 {
  font-size: 1.5rem;
  font-weight: 400;
}
footer {
  margin-top: 3.75rem;
  padding-inline: 4.375rem;
  padding-block: 1.875rem;
  background-color: black;
  color: white;
}
@media (width <= 28.125em) {
  footer {
    padding-inline: 0;
  }
}

.footer_main {
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 1.4fr; /* Default layout */
  justify-content: center;
  gap: 0px 0px;
}

/* For screens smaller than 1344px */
@media (width <= 62.5em) {
  .footer_main {
    grid-template-columns: 1fr 1fr; /* Two columns layout */
  }
  #item3 {
    grid-column: span 2; /* Make the last item span two columns */
  }
}
/* For screens smaller than 600px */
/* For screens smaller than 400px */
@media (width <= 450px) {
  .footer_main {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 0px; /* Add spacing between items */
    justify-items: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    text-align: center; /* Center text inside each item */
  }
  #item3 {
    grid-column: span 1; /* Make the last item span two columns */
  }
}
.footer_links {
  padding: 1.875rem;
}
.footer_links p {
  color: var(--cl-brown);
  font-size: 1.125rem;
  font-weight: 900;
}
.footer_links a {
  color: white;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.footer_links_container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 1.25rem;
}

.social_links a {
  padding: 0.3125rem;
}

.subscribe_frame {
  display: flex;
  max-width: 80%;
  margin-top: 1.875rem;
  align-items: center;
  background-color: white;
  border-radius: 8px;
}
.subscribe_frame input {
  width: 100%;
  height: 2.4375rem;
  border-radius: 0.5rem;
  padding-top: 15px;
  padding: 1.25rem;
  font-size: 16px;
  background-color: none;
  outline: none;
  border: none;
}
.subscribe_frame button {
  width: 8.4375rem;
  margin: 2px;
  height: 1.875rem;
  background-color: var(--cl-prusian-blue);
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 800;
  outline: none;
}
@media (width <= 450px) {
  .subscribe_frame {
    flex-direction: column;
    gap: 0.625rem;
    max-width: 100%;
    background-color: black;
  }
  .subscribe_frame input {
    width: 100%;
    background-color: none;
  }
}

._content {
  max-width: 90rem;
  margin: 0 auto;
}

.div {
  background-color: black;
  color: white;
  padding: 2.5rem;
}
.div p {
  font-size: 16px;
}

* {
  padding: 0;
  font-family: "Raleway", serif;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body.lock {
  overflow: hidden;
}

p {
  font-family: "Poppins", serif;
}

* {
  --cl-brown:#DA722C;
  --cl-blue:#057ADA;
  --cl-LightCayn:#E8F7FB;
  --cl-prusian-blue:#023047;
  --cl-rich_black:#070917;
  --cl-light_blue:#6F7DFB;
}

:root {
  --font-logo:clamp(2.25rem, 2.1491228070175437rem + 0.3898635477582846vw, 2.5rem);
  --font-header1:clamp(2.25rem, 1.8969298245614035rem + 1.364522417153996vw, 3.125rem);
  --font-header2:clamp(2.25rem, 1.6447368421052633rem + 2.3391812865497075vw, 3.75rem);
  --font-header3:clamp(1.5rem, 1.3492718446601941rem + 0.5825242718446602vw, 1.875rem);
  --font-header4:clamp(1.125rem, 0.9736842105263158rem + 0.5847953216374269vw, 1.5rem);
  --font-header5:clamp(0.875rem, 0.7741228070175439rem + 0.3898635477582846vw, 1.125rem);
}/*# sourceMappingURL=style.css.map */